{% extends "layout.html" %}
{% block title %} Pagina de vastexkul {% endblock %}
{% block body %}

    <h2>Hackaton CS50x.ni</h2>
    <h3>Trabajando con git</h3>

    <h4>Objetivos:</h4>
    <div class="container">
        <div class="objetivos">
            <ul>
                <li>Probar mis capacidades</li>
                <li>Intentar ganar la competencia xd</li>
                <li>Si no gano la competencia, al menor ganar un patito uwu</li>
                <li>Jugar lolsosky</li>
            </ul>
        </div>
    </div>

{% endblock %}